# **`count()` — Counts NON-NULL values**

In [1]:
import pandas as pd

### **On a Series**

In [3]:
s=pd.Series([10,20,30,None,40])
s.count()

np.int64(4)

### **On a DataFrame --Column-wise non-null counts**

In [5]:
df=pd.DataFrame({ 'Name':['Ali','Sara','Haroon'],'Age':[20,30,None]})
df.count()

Name    3
Age     2
dtype: int64

In [9]:
df.count(axis=1)

0    2
1    2
2    1
dtype: int64

# **`value_counts`— Counts FREQUENCY of values**

### **On a Series**

In [13]:
s=pd.Series(['IT','HR','IT','SE','SE',None])
s.value_counts()

IT    2
SE    2
HR    1
Name: count, dtype: int64

### **On a DataFrame**

In [ ]:
df=pd.DataFrame({ 'Name':['Ali','Ali','Sara','Haroon'],'Age':[20,30,None,21]})
df.value_counts() # Wrong use
df['Name'].value_counts()

Name    Age
Ali     20.0    1
        30.0    1
Haroon  21.0    1
Name: count, dtype: int64

### **Include NaN**

In [14]:
s.value_counts(dropna=False)

IT      2
SE      2
HR      1
None    1
Name: count, dtype: int64

### **Normalize (Percentages)**

In [ ]:
s.value_counts(normalize=True)

IT      0.333333
SE      0.333333
HR      0.166667
None    0.166667
Name: proportion, dtype: float64