# **loc & iloc**

###  The Golden Rule (Concept)

* **`loc`** = **Label** Oriented. (Ask: *"What is the row/column **named**?"*)
* **`iloc`** = **Integer** Location. (Ask: *"Where is it **positioned** (0, 1, 2)?"*)

---

###  Basic Syntax Structure

Both follow the same pattern: `df.method[row_selector, column_selector]`

| Feature | **`loc`** (Labels) | **`iloc`** (Integers) |
| --- | --- | --- |
| **Row input** | Index Names (e.g., `'Row1'`, `'Ali'`) | Integers (e.g., `0`, `1`, `5`) |
| **Col input** | Column Names (e.g., `'Salary'`, `'Dept'`) | Integers (e.g., `0` for 1st col, `3` for 4th) |
| **Example** | `df.loc[5, 'Name']` | `df.iloc[5, 1]` |

**Note:** If your index is numbers (0, 1, 2...), `loc[5]` looks for the **label "5"**,  while `iloc[5]` looks for the **5th row** (index 5).

In [1]:
import pandas as pd

In [21]:
df=pd.DataFrame({'Name':['Haroon','Abbas','Khan','Ali','Sara'],'Salary':[24000,60000,40000,10000,40000]})
df=df.sort_values(by='Salary')
df

     Name  Salary
3     Ali   10000
0  Haroon   24000
2    Khan   40000
4    Sara   40000
1   Abbas   60000


## **`Loc[index]['ColName']`**  :
* loc = LOCation (Label/Name based)
* Labed-based indexing, Not the actual order squence  indexing
* It'll give you rows and cols by name,
* It includes both start and end in slicing,
* Can have duplicate 'Labeled indexs'
* __Loc Basically follows the Labled indices, it can be any modified/custom indexing__

In [50]:
df.loc[0] #  will return the '0' Index-Labeled Row, not the first row
df.loc[0]['Name']
df.loc[0,'Name']
# df.loc[0,1] # Error
# df.loc[0][1] # Error

'Haroon'

#### **`loc` Support Duplicate Custom/labled indexes :**

In [29]:
df1=pd.DataFrame({'Name':['Haroon','Abbas','Khan','Ali','Sara'],'Salary':[24000,60000,40000,10000,40000]},index=['a','b','c','d','d'])
df1
df1.loc['d']['Name']

d     Ali
d    Sara
Name: Name, dtype: object

### **`Loc` with Boolean Conditional Filtering**

In [18]:
df.loc[df['Name']=='Sara']

   Name  Salary
4  Sara   40000

### **`Loc` Slicing**

##### _Problem with loc slicing is we need to slice it carefully, because it slices based on labeled indexes regardless of number size._

* E.g., `loc[3:2]` slices from **Labeled '3'** to **Labeled '2'**, while '3' is bigger number

#####  _Negative Indexing Doesn't Work on loc_

* E.g., `loc[-1]` < Error

In [30]:
df.loc[3:2]

     Name  Salary
3     Ali   10000
0  Haroon   24000
2    Khan   40000

## **`Iloc[index]['ColName' / 'ColIndex']`**:
* iloc = Integer LOCation (Position/Number based)
* Integer-based Indexing
* It follows 0 indexing
* Slicing will not include end
* Can NOT have duplicate Indexes
* __Iloc Follows the ACTUAL order indexing of  the table/Dataframe__

In [ ]:
df.iloc[0]
df.iloc[0]['Name']
# df.iloc[0, 'Name'] # Error
df.iloc[0,1]
df.iloc[0][1]

np.int64(10000)

#### **`iloc` Doen't Support Duplicate Custom indexes :**

In [71]:
animal=pd.DataFrame({'Name':["fox","lion","cat"]},index=[3,2,3])
# animal.iloc[3] # Error

**`iloc` Doesn't support boolean indexing.**

In [46]:
# df.iloc[df['Name']=='Haroon'] # Error

### **`iloc` Slicing**
* **Works like normal python list slicing**
* **Doesn't include ending index ([0 : n-1])**

In [73]:
df.iloc[0:3]

     Name  Salary
3     Ali   10000
0  Haroon   24000
2    Khan   40000