# **Operators**

### 1️⃣ **Logical Operators (For Filtering)**

These are critical for **Boolean Indexing** (selecting rows based on multiple conditions).

* **Crucial Rule:** You **must** use the bitwise symbols (`&`, `|`, `~`) instead of Python's standard words (`and`, `or`, `not`).
* **Syntax Rule:** Always wrap each condition in parentheses `( )`.

| Operator | Symbol | Meaning | Example Code |
| --- | --- | --- | --- |
| **AND** | `&` | Both must be True | `df[(df['Age'] > 25) & (df['Dept'] == 'IT')]` |
| **OR** | `\|`| At least one is True | `df[(df['Age']>20)\|(df['Dept']=='IT')]`
| **NOT** | `~` | Invert the condition | `df[~(df['Dept'] == 'HR')]` (Selects everything EXCEPT HR) |
| **XOR** | `^` | Only one is True | `df[(cond1) ^ (cond2)]` (Rarely used) |

In [ ]:
import pandas as pd
df=pd.DataFrame({'Name':['Haroon','Abbas','Khan'],'Dept':['IT','CS','SE'],'Age':[22,23,20],'Salary':[40000,41000,42000]})
df

## **AND `&`** Operator

In [ ]:
df[(df['Age']>20)&(df['Dept']=='IT')]

## **OR `|`** Operator

In [ ]:
df[(df['Age']>20)|(df['Dept']=='IT')]

## **NOT `~`** Operator

In [ ]:
df[~(df['Dept']=='IT')]

## **XOR `^`** Operator

In [ ]:
df[(df['Age']>20)^(df['Dept']=='IT')]

---
### 2️⃣ **Comparison Operators (For Creating Conditions)**

These work element-wise (row by row) and return a Series of `True`/`False`.

| Operator | Symbol | Meaning | Example Code |
| --- | --- | --- | --- |
| Equal | `==` | Exact match | `df['Dept'] == 'IT'` |
| Not Equal | `!=` | Not a match | `df['Dept'] != 'IT'` |
| Greater | `>` | Larger than | `df['Salary'] > 50000` |
| Less | `<` | Smaller than | `df['Age'] < 30` |
| Greater/Eq | `>=` | Larger or equal | `df['Experience'] >= 5` |
| Less/Eq | `<=` | Smaller or equal | `df['Rank'] <= 2` |

## **Equal`==`** Operator

In [ ]:
df['Dept']=='IT'
df[df['Dept']=='IT']

## **Not Equal `!=`** Operator

In [ ]:
df['Dept']!='IT'
df[df['Dept']!='IT']

## **Greater `>`** Operator

In [ ]:
df['Age']>20

## **Less `<`** Operator

In [ ]:
df['Age']<23

## **Greate/Eq `>=`** Operator

In [ ]:
df['Age']>=20

## **Less/Eq `<=`** Operator

In [ ]:
df['Age']<=20

---
### 3️⃣ **Arithmetic Operators (For Math on Columns)**

Pandas allows you to perform math on entire columns at once (**Vectorization**).

| Operator | Symbol | Equivalent Method | Example Code |
| --- | --- | --- | --- |
| Add | `+` | `.add()` | `df['Salary'] + 500` (Bonus) |
| Subtract | `-` | `.sub()` | `df['Price'] - df['Cost']` (Profit) |
| Multiply | `*` | `.mul()` | `df['Salary'] * 1.10` (10% Raise) |
| Divide | `/` | `.div()` | `df['Total'] / df['Count']` |
| Floor Div | `//` | `.floordiv()` | `df['Seconds'] // 60` (Minutes) |
| Modulo | `%` | `.mod()` | `df['ID'] % 2` (Odd/Even check) |
| Power | `**` | `.pow()` | `df['Radius'] ** 2` |

In [ ]:
df['Salary']+5000

In [ ]:
df['Salary']-5000

In [ ]:
df['Salary']*1.10

In [ ]:
df['Salary']/3

In [ ]:
df['Salary']//3

In [ ]:
df['Salary']%2

In [ ]:
df['Salary']**2

---
### 4️⃣ **Membership Operator (`isin`)**

This is the cleanest way to replace multiple `OR` statements.

* **`isin()`**: Checks if the value exists in a provided list.
```python
# Instead of: (Dept == 'IT') | (Dept == 'HR') | (Dept == 'Finance')
df[df['Dept'].isin(['IT', 'HR', 'Finance'])]

```

In [ ]:
df[df['Dept'].isin(['IT','SE'])]