# Series
    - One dimensional labeled array
    - Has Exactly one dtype
    - Syntanx pd.Series(["data"],index=["Optional"])

In [1]:
import pandas as pd

In [4]:
pd.Series([1,2,3,4])
pd.Series([1,2,3,4],index=['a','b','c','d'])

a    1
b    2
c    3
d    4
dtype: int64

# DataFrame
    - Two Dimensional Data structure containing rows and columns, like table
    - A colleciton of Series
    - Each column is a series
    - Syntax: pd.DataFrame({"Name":["Haroon","Ali","John"]})
    - Columns can have different dtypes

In [8]:
pd.DataFrame({ "Name":["Haroon","Ali","John"],"Age":[20,32,12]})

     Name  Age
0  Haroon   20
1     Ali   32
2    John   12

# Panel
    - 3 Dimensional Array