# Series
    - One dimensional labeled array
    - Has Exactly one dtype
    - Syntanx pd.Series(["data"],index=["Optional"])

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1,2,3,4])
pd.Series([1,2,3,4],index=['a','b','c','d'])

In [ ]:
series=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype="float",name="PythonSeries")
series

In [ ]:
type(series)

In [ ]:
series.dtype

In [ ]:
series=pd.Series(12,index=[1,2,3,4])
series

### Creating A Series Using Dictionary

In [ ]:
dic={"Name":["Haroon","Abbas"],"Age":[20,32]}
series=pd.Series(dic)
series

## Arithmetic Operaitons on Series

In [ ]:
series1=pd.Series([10,20,30])
series2=pd.Series([30,20,10])

In [ ]:
series1+series2

In [ ]:
series1-series2

In [ ]:
series1*series2

In [ ]:
series1/series2

----
# Practice Problems

---
üü¢ Level 1 ‚Äî Series Instincts

Q1

``
s = pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd'])
``


    1Ô∏è‚É£ Select values greater than 4
    2Ô∏è‚É£ Select values at labels 'b' and 'd'
    3Ô∏è‚É£ Multiply all values by 3
    4Ô∏è‚É£ What happens if you run: s['e']

In [ ]:
s=pd.Series([2,4,6,8],index=['a','b','c','d'])
# 1
s[s>4]

In [ ]:
# 2
s[['b','d']]

In [ ]:
# 3
s*3

In [ ]:
# 4
# s['e'] # Error

Q2 ‚Äî Index Alignment

    s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
    s2 = pd.Series([1, 2, 3], index=['b', 'c', 'd'])


1Ô∏è‚É£ Compute:
``
s1 + s2
``

In [ ]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([1, 2, 3], index=['b', 'c', 'd'])

s1+s2

2Ô∏è‚É£ Why do NaN values appear?

This happens because Pandas aligns on Index, not position.

(Note how the integers turned into floats? That is because NaN is technically a float).

Q3 ‚Äî dtype Trap

s = pd.Series(['10', '20', '30'])


    1Ô∏è‚É£ What is s.dtype?
    2Ô∏è‚É£ Convert it to numeric properly
    3Ô∏è‚É£ Find the mean

In [ ]:
# 1
s=pd.Series(['10','20','30'])
s.dtype

In [ ]:
#2
s=s.astype(int)
s.dtype

In [ ]:
# 3
s.mean()